.row {
    background-color: #a1b5cb;
}

footer {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
}

p{
    margin-top: 10px;
}