.row{
    padding: 25px;
}

div{
    background-color: #a1b5cb;
}

h2, h4{
    display: inline;
}

h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}

h1{
    font-family: 'Pacifico', cursive;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}