<div class="row">
    <h1>Educación</h1>
    <div class="offset-lg-1 col-lg-11">
        <ul>
            <li>
                <h2>Estudios</h2><h4>(anios)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, praesentium earum deserunt aut ex atque aperiam temporibus quibusdam ducimus consectetur facere eius saepe velit fugiat quia a sint dolore molestiae!</p>
            <li>
                <h2>Estudios</h2><h4>(anios)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, praesentium earum deserunt aut ex atque aperiam temporibus quibusdam ducimus consectetur facere eius saepe velit fugiat quia a sint dolore molestiae!</p>
            <li>
                <h2>Estudios</h2><h4> (anios)</h4>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, praesentium earum deserunt aut ex atque aperiam temporibus quibusdam ducimus consectetur facere eius saepe velit fugiat quia a sint dolore molestiae!</p>
        </ul>
    </div>
</div>
