<div class="row">
    <h1>Educación</h1>
    <div class="offset-lg-1 col-lg-11">
        <ul>
            <li>
                <h2>Escuela Normal Superior y Superior de Comercio Nº 46 “Domingo G. Silva”</h2><h4>(anios)</h4>
            </li>
            <p>Polimodal, modalidad Economía y Gestión de las organizaciones. Promoción 2005.</p>
            <li>
                <h2>Programación Web con Javascript</h2><h4>(anios)</h4>
            </li>
            <p>Modalidad: a distancia. Carga horaria: 60 horas. UTN Facultad Regional Resistencia</p>
            <li>
                <h2>Diplomatura en Programación Web FullStack</h2><h4> (anios)</h4>
            </li>
            <p>Modalidad: a distancia. Carga horaria: 270 horas. UTN Facultad Regional Resistencia</p>
        </ul>
    </div>
</div>
