<div class="row">
    <h1>Hard and Soft Skills</h1>
    <div class="col-sm-4 col-md-4 col-lg-4 centrado">
        <circle-progress
            [showUnits]="false"
            [showImage]="true"
            [imageSrc]="'../assets/icon-html5.png'"
            [imageHeight]="75"
            [imageWidth]="75"
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#3C444C'"
            [innerStrokeColor]="'#798898'"
            [animation]="true"
            [animationDuration]="700"
    ></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-css3.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="90"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-js.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="70"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-php.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-sql.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="65"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-phyton.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="10"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-comunicacion.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-paciencia.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-conducta.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-cooperacion.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="85"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-oyente.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="75"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4 centrado">
    <circle-progress
        [showImage]="true"
        [imageSrc]="'../assets/icon-idea.png'"
        [imageHeight]="75"
        [imageWidth]="75"
        [showUnits]="false"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="8"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'#3C444C'"
        [innerStrokeColor]="'#798898'"
        [animation]="true"
        [animationDuration]="700"
></circle-progress>
</div>
</div>
