
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/foto-perfil.jpg" id="foto-perfil" class="img-fluid">
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">Gerónimo M. Roldán</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p>Santafesino, 34 años. Empecé a estudiar Diseño y Programación Web en 2010 en el IAC. Volví a retomar hace dos años a través de cursos virtuales de la UTN y le fui agregando otros lenguajes como PHP, MySQL y JavaScript. Me gusta seguir ampliando mis conocimientos con diferentes cursos.</p>
            </span>
        </div>
    </div>
